a{
    text-decoration: none;
    color: blue;
}
.content{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.content__left{
    margin-right: 20px;
    width: 400px;
    background-color: #fff;
    padding: 30px;
}
.description{
    display: flex;
    align-items: center;
}
.description__img{
    margin-right: 40px;
    width: 80px
}
.description__img img{
    width: 100%;
    border-radius: 50%;
}
.name{
    font-size: 18px;
    font-weight: 700;
}
.subcategory{
    display: flex;
    align-items: center;
}
.subcategory .username{
    margin-right: 30px;
}
.profile__numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.profile__info{
    text-align: center;
}
.numbers{
    font-weight: 700;
}
.pro__info{
    margin-top: 15px;
}
.pro__info .desc{
    font-size: 12px;
    font-weight: 200;
}
.pro__info .heading{
    font-size: 14px;
    font-weight: 700;
}
.content__right{
    margin-right: 20px;
    width: 670px;
    background-color: #fff;
    padding: 30px;
}
.posts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.post__heading{
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
}
.post__image{
    padding: 10px;
}
.posts .post__image img{
    width: 180px;
}

@media only screen and (max-width: 600px) {
    .content {
      flex-direction: column;
    }
    .content__left{
        width: 100vw;
    }
    .content__right{
        margin-top: 20px;
        width: 100vw;
    }
  }
  @media only screen and (max-width: 460px){
    .posts .post__image img {
        width: 100%;
    }
  }